<html>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Node JS</td>
            </tr>
        </table>
    </body>
</html>